<div class="container mt-5">
  <h3 class="mb-4">Create a new account</h3>

  <form [formGroup]="authFrom">
    <app-input
      inputType="text"
      label="Username"
      [control]="authFrom.get('username')"
    ></app-input>

    <app-input
      label="Password"
      inputType="password"
      [control]="authFrom.get('password')"
    ></app-input>

    <app-input
      inputType="password"
      label="Password Confirmation"
      [control]="authFrom.get('passwordConfirmation')"
    ></app-input>

    <!--  password don't match -->
    <div
      *ngIf="authFrom.errors && authFrom.errors!['passwordsDontMatch']"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Password don't match
    </div>

    <button
      type="submit"
      [disabled]="!authFrom.valid"
      class="btn btn-primary"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </form>
</div>
