<div class="form-group mb-3">
  <label for="{{ label }}">{{ label }}</label>
  <input type="{{ inputType }}" class="form-control" [formControl]="control!" />

  <div *ngIf="showErrors()" class="alert alert-danger mt-2 pb-0" role="alert">
    <p *ngIf="control.errors.email">Email is invalid</p>
    <p *ngIf="control.errors.required">Value is required</p>
    <p *ngIf="control.errors.minlength">
      Min length is {{ control.errors.minlength.requiredLength }}
    </p>
    <p *ngIf="control.errors.maxlength">
      Max length is {{ control.errors.maxlength.requiredLength }}
    </p>

    <p *ngIf="control.errors.noUniqueUsername">Username has taken</p>
    <p *ngIf="control.errors.noConnection">Can't know if username is taken</p>
    <p *ngIf="control.errors.pattern">Invalid format</p>
  </div>
</div>
