<div class="container mt-5">
  <h3 class="mb-4">Sign in to your account</h3>

  <form [formGroup]="authFrom">
    <app-input
      inputType="text"
      label="Username"
      [control]="authFrom.get('username')"
    ></app-input>

    <app-input
      label="Password"
      inputType="password"
      [control]="authFrom.get('password')"
    ></app-input>

    <!-- credentials error -->
    <div
      *ngIf="authFrom.errors && authFrom.errors!['credentials']"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Invalid username or password
    </div>

    <div *ngIf="loading" class="spinner-border" role="status"></div>

    <button
      *ngIf="!loading"
      type="submit"
      [disabled]="!authFrom.valid"
      class="btn"
      [ngClass]="{
        'btn-secondary': !authFrom.valid,
        'btn-primary': authFrom.valid
      }"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </form>
</div>
